# PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/sentinelauth

# Redis
REDIS_URL=redis://localhost:6379

# API
PORT=3000
NODE_ENV=development
GMAIL_CLIENT_ID=your_client_id
GMAIL_CLIENT_SECRET=your_client_secret
GMAIL_REFRESH_TOKEN=your_refresh_token
GMAIL_SENDER=your@gmail.com